<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Felhasználók</a>
                </li>
                <% if (isAuth) { %>

                    <% if (isAdmin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                        <% } %>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Kijelentkezés</a>
                            </li>

                            <% } else { %>
                                <li clss="nav-item">
                                    <a class="nav-link" href="/login">Belépés</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Regisztráció</a>
                                </li>
                                <% } %>
            </ul>
        </div>
    </div>
</nav>