<h1>
  <%= title %>
</h1>

<% if (typeof messages !== 'undefined' && messages.error) { %>
  <div class="alert alert-danger">
    <%= messages.error %>
  </div>
<% } %>

<% if (user) { %>
  <p>User: <%= user.username %>
  </p>
  <% } %>
